---

  fcgi_host: php

  php_gc_maxlifetime: 86400
  php_memory_limit: 512M
  php_default_socket_timeout: 6000
  php_max_input_time: 6000
  php_max_input_vars: 2000
  php_max_execution_time: 3600
  php_upload_max_filesize: 16M
  php_post_max_size: 50M

  php_version: 8.4
  old_php_versions:
    - 5.6
    - 7.1
    - 7.3
    - 8.2

  ubersmith_root: /var/www/ubersmith_root
  virtual_hosts: "{{ virtual_host.split(',') }}"
  main_virtual_host: "{{ virtual_hosts[0] }}"
  mysql_root_password: "{{ lookup('password', ansible_user_dir + '/.ubersmith_' + main_virtual_host + '_root_db_pass chars=ascii_letters,digits') }}"
  mysql_ubersmith_password: "{{ lookup('password', ansible_user_dir + '/.ubersmith_' + main_virtual_host + '_ubersmith_db_pass') }}"
  # FIXME: Implement a rescue block in case this website is down
  # ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305"

  mozilla_ciphers: "{{ (lookup('ansible.builtin.url', 'https://ssl-config.mozilla.org/guidelines/latest.json', split_lines=False) | from_json) | default({'ciphers': 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384'}) }}"


  ubersmith_release:
    "4":
      mysql_version: 57
      php_version: 73
      backup_version: 2
      ubersmith_release_version: 4.6.4
      containers:
        release_version: r4
        web_container_repo: "ubersmith"
        haproxy_version: 1.7-alpine
    "5":
      mysql_version: 80
      php_version: 84
      backup_version: 8
      ubersmith_release_version: 5.1.3
      containers:
        release_version: r2
        web_container_repo: "ubersmith"
        haproxy_version: 1.7-alpine


  ubersmith_installed_version: 4.0.0
  ubersmith_version: "{{ ubersmith_release[ubersmith_major_version].ubersmith_release_version }}"
  containers_release_version: "{{ ubersmith_release[ubersmith_major_version].containers.release_version }}"
  pmm_version: 2
  certbot_version: v3.2.0

  registry: ghcr.io/teamubersmith
