version: '3'
services:
  app_web:
    environment:
      MYSQL_PASSWORD: "{{ mysql_appliance_password }}"
      TIMEZONE: {{ timezone_file.stdout | replace ("/usr/share/zoneinfo/", "") | replace("Etc/", "") | replace("UCT", "UTC") }}
    volumes:
{% if ansible_os_family != 'Darwin' %}
      - "{{ timezone_file.stdout }}:/etc/localtime"
{% endif %}
      - "{{ appliance_home }}/logs/appliance:/var/www/appliance_root/logs"
      - "{{ appliance_home }}/conf/ssl/{{ app_virtual_host }}.pem:/var/www/appliance_root/conf/ssl/appliance.pem"
      - "{{ appliance_home }}/conf/ssl/{{ app_virtual_host }}.key:/var/www/appliance_root/conf/ssl/appliance.key"
      - "{{ appliance_home }}/conf/httpd/sites-enabled:/etc/apache2/sites-enabled"
  app_db:
    environment:
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"
      MYSQL_PASSWORD: "{{ mysql_appliance_password }}"
    volumes:
      - "{{ appliance_home }}/conf/mysql:/etc/mysql/conf.d"
{% if ansible_os_family != 'Darwin' %}
      - "{{ timezone_file.stdout }}:/etc/localtime"
{% endif %}
  app_cron:
    volumes:
{% if ansible_os_family != 'Darwin' %}
      - "{{ timezone_file.stdout }}:/etc/localtime"
{% endif %}
  app_backup:
    environment:
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"
