version: '2'
services:
  cron:
    # volumes:
      # - "{{ ubersmith_home }}/conf/cron:/etc/cron.d"
  db:
    environment:
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"
      MYSQL_PASSWORD: "{{ mysql_ubersmith_password }}"
    volumes:
    {% if ansible_os_family != 'Darwin' %}
      - "{{ timezone_file.stdout }}:/etc/localtime"
    {% endif %}
      - "{{ ubersmith_home }}/conf/mysql:/etc/mysql/conf.d"
  # php:
  #   volumes:
  #     - "{{ ubersmith_home }}/conf/php/www.conf:/etc/php/5.6/fpm/pool.d/www.conf"
  web:
    environment:
      MYSQL_PASSWORD: "{{ mysql_ubersmith_password }}"
    volumes:
      - "{{ ubersmith_home }}/logs/ubersmith:/var/www/ubersmith_root/logs"
      - "{{ ubersmith_home }}/conf/ssl:/var/www/ubersmith_root/conf/ssl"
      - "{{ ubersmith_home }}/conf/httpd:/var/www/ubersmith_root/conf/httpd"
      - "{{ ubersmith_home }}/app/custom:/var/www/ubersmith_root/app/custom"
      - "{{ ubersmith_home }}/conf/httpd/sites-enabled:/etc/apache2/sites-enabled"
{% if ansible_os_family != 'Darwin' %}
      - "{{ timezone_file.stdout }}:/etc/localtime"
{% endif %}
    # environment:
    #   MYSQL_PASSWORD: "{{ mysql_ubersmith_password }}"
    #   DATABASE_HOST: "ubersmith_db_1"
    #   USAGE_DATABASE: usage
    #   USAGE_DATABASE_HOST: remote_db
    #   USAGE_DATABASE_USERNAME: usage_guy
    #   USAGE_DATABASE_PASSWORD: usage_password
  mail:
{% if ansible_os_family != 'Darwin' %}
    volumes:
      - "{{ timezone_file.stdout }}:/var/spool/postfix/etc/localtime"
      # - "{{ ubersmith_home }}/conf/mail/aliases:/etc/aliases"
{% endif %}
    environment:
      - "POSTCONF_SMTPD_TLS_CERT_FILE=/etc/ssl/certs/{{ virtual_host }}.pem"
      - "POSTCONF_SMTPD_TLS_KEY_FILE=/etc/ssl/private/{{ virtual_host }}.key" 
      - POSTCONF_SMTPD_USE_TLS=yes
  # rwhois:
  #   volumes:
  #     - "{{ ubersmith_home }}/conf/rwhois:/etc/xinetd.d"
  backup:
    environment:
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"