version: '3'
services:
  solr:
    image: {{ registry }}/solr:{{ ubersmith_version }}-{{ containers.release_version }}
    hostname: solr.{{ container_domain }}
    restart: unless-stopped
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - "search:/opt/solr"
{% if ansible_os_family != 'Darwin' %}
    logging:
      driver: syslog
      options:
        tag: ubersmith/solr
{% endif %}
  db:
    image: {{ registry }}/ps80:{{ ubersmith_version }}-{{ containers.release_version }}
    hostname: database.{{ container_domain }}
    restart: unless-stopped
    ports:
      - "127.0.0.1:3306:3306"
    environment:
      MYSQL_USER: ubersmith
      MYSQL_DATABASE: ubersmith
    volumes:
      - "database:/var/lib/mysql"
      - "/etc/mysql/conf.d"
      - "{{ ubersmith_home }}/conf/mysql:/etc/ubersmith.conf.d"
{% if ansible_os_family != 'Darwin' %}
    logging:
      driver: syslog
      options:
        tag: ubersmith/db
{% endif %}
  web:
    image: {{ registry }}/{{ containers.web_container_repo }}:{{ ubersmith_version }}-{{ containers.release_version }}
    hostname: {{ container_domain }}
    restart: unless-stopped
    environment:
      MYSQL_USER: ubersmith
      MYSQL_DATABASE: ubersmith
      DATABASE_HOST: "db"
      UBER_HOSTNAME: {{ container_domain }}
      LOCK_BACKEND: redis
      LOCK_SERVERS: "ubersmith-redis-1:6379:1,ubersmith-redis-2:6379:1,ubersmith-redis-3:6379:1"
      MAINTENANCE: "${MAINTENANCE}"
      HTTPS_FORCE: 1
      REASON_LOG: 0
      STORAGE_BACKEND: redis
      REDIS_HOST: tcp://ubersmith-redis-data-1:6379?database=2
      SESSION_HOST: tcp://ubersmith-redis-data-1:6379?database=0
      PLUGIN_LOG_HOST: tcp://ubersmith-redis-data-1:6379?database=3
      QUEUE_HOST: tcp://ubersmith-redis-data-1:6379?database=4
      APPLIANCE_TIMEOUT: 30
      ALIPAY_ENABLE: 1
    volumes:
      - "logs:/var/www/ubersmith_root/logs"
      - "webroot:/var/www/ubersmith_root"
      - "search:/opt/solr"
    depends_on:
      - redis-data
{% if ansible_os_family != 'Darwin' %}
    logging:
      driver: syslog
      options:
        tag: ubersmith/web
{% endif %}
  php:
    image: {{ registry }}/php82:{{ ubersmith_version }}-{{ containers.release_version }}
    hostname: {{ container_domain }}
    restart: unless-stopped
    volumes:
      - "{{ ubersmith_home }}/logs/rsyslog/log:/dev/log"
      - "webroot:/var/www/ubersmith_root"
    depends_on:
      web:
        condition: service_started
      rsyslog:
        condition: service_healthy
{% if ansible_os_family != 'Darwin' %}
    logging:
      driver: syslog
      options:
        tag: ubersmith/php
{% endif %}
  cron:
    image: {{ registry }}/cron:{{ ubersmith_version }}-{{ containers.release_version }}
    hostname: {{ container_domain }}
    restart: unless-stopped
    volumes:
      - "webroot:/var/www/ubersmith_root"
    depends_on:
      - web
{% if ansible_os_family != 'Darwin' %}
    logging:
      driver: syslog
      options:
        tag: ubersmith/cron
{% endif %}
  mail:
    image: {{ registry }}/mail:{{ ubersmith_version }}-{{ containers.release_version }}
    hostname: {{ container_domain }}
    restart: unless-stopped
    ports:
      - "25:25"
    volumes:
      - "webroot:/var/www/ubersmith_root"
    networks:
      default:
        aliases:
          - ubersmith.mail
    depends_on:
      - web
{% if ansible_os_family != 'Darwin' %}
    logging:
      driver: syslog
      options:
        tag: ubersmith/mail
{% endif %}
  rwhois:
    image: {{ registry }}/xinetd:{{ ubersmith_version }}-{{ containers.release_version }}
    hostname: {{ container_domain }}
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    restart: unless-stopped
    ports:
      - "4321:4321"
    volumes:
      - "webroot:/var/www/ubersmith_root"
    depends_on:
      - web
{% if ansible_os_family != 'Darwin' %}
    logging:
      driver: syslog
      options:
        tag: ubersmith/rwhois
{% endif %}
  redis:
    image: {{ registry }}/redis:{{ ubersmith_version }}-{{ containers.release_version }}
    restart: unless-stopped
  redis-data:
    image: {{ registry }}/redis:{{ ubersmith_version }}-{{ containers.release_version }}
    restart: unless-stopped
{% if ansible_os_family != 'Darwin' %}
    logging:
      driver: syslog
      options:
        tag: ubersmith/redis-data
{% endif %}
    volumes:
      - redis:/data
  redis-commander:
    image: rediscommander/redis-commander:latest
    restart: "no"
    hostname: rediscommander.{{ container_domain }}
    environment:
      REDIS_HOSTS: default:ubersmith-redis-data-1:6379:3
  backup:
    image: {{ registry }}/xtrabackup:{{ ubersmith_version }}-{{ containers.release_version }}
    hostname: backups.{{ container_domain }}
    # entrypoint: /mysqldump.sh
    environment:
      DATABASE_HOST: db
    volumes:
      - "{{ ubersmith_home }}/backup:/backup"
      - "database:/var/lib/mysql"
    depends_on:
      - db
  rsyslog:
    image: {{ registry }}/rsyslog:{{ ubersmith_version }}-{{ containers.release_version }}
    hostname: rsyslog.{{ container_domain }}
    volumes:
      - "{{ ubersmith_home }}/logs/rsyslog/:/var/run/rsyslog/dev/"
{% if ansible_os_family != 'Darwin' %}
    logging:
      driver: syslog
      options:
        tag: ubersmith/ubersmith
{% endif %}
  pmm:
    image: percona/pmm-server:{{ containers.pmm_version }}
    hostname: pmm.{{ container_domain }}
    ports:
      - "8443:443"
    volumes:
       - pmm-data:/srv
       - "{{ ubersmith_home }}/conf/ssl/{{ container_domain }}.pem:/etc/nginx/ssl/server.crt"
       - "{{ ubersmith_home }}/conf/ssl/{{ container_domain }}.key:/etc/nginx/ssl/server.key"
  haproxy:
    image: haproxy:{{ containers.haproxy_version }}
    volumes:
       - "{{ ubersmith_home }}/conf/haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro"
    ports:
      - "3306"
      - "3307"
{% if ansible_os_family != 'Darwin' %}
    logging:
      driver: syslog
      options:
        tag: ubersmith/haproxy
{% endif %}
  certbot:
    image: certbot/certbot:{{ containers.certbot_version }}
    # image: certbot/dns-nsone:{{ containers.certbot_version }}
    command: "renew -vvv -n --webroot --webroot-path /var/www/ubersmith_root/app/www"
    # command: "certonly -n --standalone -d {{ virtual_hosts }} --agree-tos -m {{ notify_email }}"
    # command: "certonly -d {{ virtual_hosts }} --agree-tos -m {{ notify_email }} --dns-nsone --dns-nsone-credentials /tmp/.nsone.ini"
    volumes:
      - "{{ ubersmith_home }}/conf/certbot/etc:/etc/letsencrypt"
      - "{{ ubersmith_home }}/conf/certbot/lib:/var/lib/letsencrypt"
      - "{{ ubersmith_home }}/conf/certbot/log:/var/log/letsencrypt"
      - "{{ ubersmith_home }}/conf/ssl:/opt/certbot/deploy"
      - "webroot:/var/www/ubersmith_root"
{% if ansible_os_family != 'Darwin' %}
    logging:
      driver: syslog
      options:
        tag: ubersmith/certbot
{% endif %}
volumes:
  database: {}
  logs: {}
  redis: {}
  search: {}
  webroot: {}
  pmm-data: {}
