version: '2'
services:
  solr:
    image: quay.io/ubersmith/solr:{{ containers.solr_version }}
    hostname: solr.{{ virtual_host }}
    restart: unless-stopped
    volumes:
      - "search:/opt/solr"
  db:
    image: quay.io/ubersmith/db:{{ containers.db_version }}
    hostname: database.{{ virtual_host }}
    restart: unless-stopped
    ports:
      - "127.0.0.1:3306:3306"
    environment:
      MYSQL_USER: ubersmith
      MYSQL_DATABASE: ubersmith
    volumes:
      - "database:/var/lib/mysql"
      - "pmm_client:/usr/local/percona"
      - "/etc/mysql/conf.d"
  web:
    image: quay.io/ubersmith/ubersmith:{{ containers.web_version }}
    hostname: {{ virtual_host }}
    restart: unless-stopped
    environment:
      MYSQL_USER: ubersmith
      MYSQL_DATABASE: ubersmith
      DATABASE_HOST: "ubersmith_db_1"
      UBER_HOSTNAME: {{ virtual_host }}
      LOCK_BACKEND: mysql
      MAINTENANCE: 0
      HTTPS_FORCE: 1
      REASON_LOG: 0
    volumes:
      - "logs:/var/www/ubersmith_root/logs"
      - "webroot:/var/www/ubersmith_root"
    volumes_from:
      - solr
  php:
    image: quay.io/ubersmith/php:{{ containers.php_version }}
    hostname: {{ virtual_host }}
    restart: unless-stopped
    volumes:
      - "{{ ubersmith_home }}/logs/rsyslog/log:/dev/log"
      - "twig:/tmp/twig/cache"
    volumes_from:
      - web
  cron:
    image: quay.io/ubersmith/cron:{{ containers.cron_version }}
    hostname: {{ virtual_host }}
    restart: unless-stopped
    volumes_from:
      - web
  mail:
    image: quay.io/ubersmith/mail:{{ containers.mail_version }}
    hostname: {{ virtual_host }}
    restart: unless-stopped
    ports:
      - "25:25"
    volumes:
      - "mail:/var/log"
    volumes_from:
      - web
    networks:
      default:
        aliases:
          - ubersmith.mail
  rwhois:
    image: quay.io/ubersmith/xinetd:{{ containers.rwhois_version }}
    hostname: {{ virtual_host }}
    restart: unless-stopped
    ports:
      - "4321:4321"
    volumes_from:
      - web
  redis:
    image: redis:3.0
    restart: unless-stopped
  backup:
    image: quay.io/ubersmith/xtrabackup:{{ containers.backup_version }}
    hostname: backups.{{ virtual_host }}
    environment:
      DATABASE_HOST: ubersmith_db_1
    volumes:
      - "{{ ubersmith_home }}/backup:/backup"
    volumes_from:
      - db
    depends_on:
      - db
  rsyslog:
    image: quay.io/ubersmith/rsyslog:1.0
    hostname: rsyslog.{{ virtual_host }}
    volumes:
      - "{{ ubersmith_home }}/logs/rsyslog/:/var/run/rsyslog/dev/"
  pmm:
    image: percona/pmm-server:{{ containers.pmm_version }}
    hostname: pmm.{{ virtual_host }}
    ports:
      - "8443:443"
    volumes:
       - pmm_prometheus:/opt/prometheus/data
       - pmm_consul:/opt/consul-data
       - pmm_mysql:/var/lib/mysql
       - pmm_grafana:/var/lib/grafana
       - "{{ ubersmith_home }}/conf/ssl/{{ virtual_host }}.pem:/etc/nginx/ssl/server.crt"
       - "{{ ubersmith_home }}/conf/ssl/{{ virtual_host }}.key:/etc/nginx/ssl/server.key"
  haproxy:
    image: haproxy:{{ containers.haproxy_version }}
    volumes:
       - "{{ ubersmith_home }}/conf/haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro"
    ports:
      - "3306"
      - "3307"
volumes:
  database: {}
  pmm_client: {}
  logs: {}
  mail: {}
  search: {}
  twig: {}
  webroot: {}
  pmm_prometheus: {}
  pmm_consul: {}
  pmm_mysql: {}
  pmm_grafana: {}