#!/usr/bin/env bash
#
# Requests a certificate renewal and gracefully restarts Apache and Postfix

cd {{ ubersmith_home }}
{{ ansible_user_dir }}/.local/bin/docker-compose up certbot 
sleep 120
{{ ansible_user_dir }}/.local/bin/docker-compose exec web /usr/sbin/apache2ctl graceful
{{ ansible_user_dir }}/.local/bin/docker-compose exec mail /usr/sbin/postfix reload
