#!/usr/bin/env bash

for DOMAIN in `find /etc/letsencrypt/live -mindepth 1 -maxdepth 1 -type d -printf '%f\n'`;
do 
        cp /etc/letsencrypt/live/$DOMAIN/cert.pem /tmp/ssl/$DOMAIN.pem 
        cp /etc/letsencrypt/live/$DOMAIN/privkey.pem /tmp/ssl/$DOMAIN.key; 
done