#!/usr/bin/env bash

for DOMAIN in `/usr/local/bin/certbot certificates 2>/dev/null | grep "Certificate Name:" | cut -f2- -d:`;
do 
        cp /etc/letsencrypt/live/$DOMAIN/cert.pem /tmp/ssl/$DOMAIN.pem 
        cp /etc/letsencrypt/live/$DOMAIN/privkey.pem /tmp/ssl/$DOMAIN.key; 
done
