name: Ansible Lint  # feel free to pick your own name

on: [push, pull_request]

jobs:

  build:
    name: Ansible Lint # Naming the build is important to use it as a status check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25.12.0 # or version tag instead of 'main'
        with:
          requirements_file: "./requirements_ansible.yml"
